@charset "utf-8";
/* CSS Document */
@media screen {}

*{
	margin: 0;
	padding: 0;
	transition: 0.15s;
	caret-color: transparent;
}

*::selection{
	color: #0F0F0F;
	background: #F0F0F0;
}

header, td, th {
  color: #0F0F0F;
}

a:link {
	text-decoration: none;
	color:#ffffff
}
a:visited {
	text-decoration: none;
	color:#ffffff
}
a:hover {
	text-decoration: none;
	color:#000000
}
a:active {
	text-decoration: none;
	color:#ffffff
}

b{
	font-weight: 500;
}

h1{
    /* color:#f0f0f0; */
	/* margin: 0; */
	color: #7c7c7c;
	margin: 30px;
	margin-left: 0;
	/* padding: 0; */
	font-size: 80px;
	/* font-family: LED_Matrix; */
	font-family: Technology;
	font-weight: 500;
	letter-spacing: 2px;
	/* cursor: default; */
}

h1 span{
	transition: 0.35s  ease-in-out;
	user-select: none;
}

.hoverBox{
	width: 100%;
	padding-bottom: 60px;
}

.hoverBox:hover span:nth-child(1){
	color: #d91e29;
	font-size: 100px;
	text-shadow:0 0 10px #d91e29,
	0 0 20px #d91e29;
	/* 0 0 40px #d91e29,
	0 0 80px #d91e29; */
}

.hoverBox:hover span:nth-child(2){
	color:#F0F0F0;
	text-shadow:0 0 10px #f0f0f0,
				0 0 20px #f0f0f0;
				/* 0 0 40px #f0f0f0,
				0 0 80px #f0f0f0; */
}

h2{
	/* margin-top: 10px; */
	/* padding: 0; */
	margin:20px;
	margin-top: 40px;
	margin-left: 0;
	font-size: 50px;
	font-family: 'Smooch Sans', sans-serif;
	font-weight: 700;
	letter-spacing: 2px;
	cursor: default;
}

h3{
	/* margin-top: 10px; */
	/* padding: 0; */
	margin:10px;
	margin-top: 20px;
	margin-left: 0;
	font-size: 40px;
	font-family: 'Smooch Sans', sans-serif;
	font-weight: 500;
	letter-spacing: 2px;
	cursor: default;
}

p{
	font-size: 35px;
	font-family: 'Smooch Sans', sans-serif;
	font-weight: 200;
	letter-spacing: 2px;
	cursor: default;
}

p a:link {
	text-decoration: underline;
	color:#ffffff
}
p a:visited {
	text-decoration: none;
	color:#ffffff
}
p a:hover {
	text-decoration: none;
	background-color: #FFFFFF;
	color:#000000
}
p a:active {
	text-decoration: none;
	color:#ffffff
}


body {
	display: flex;
    margin: 0px;
    padding: 0px;
    background-color: #0F0F0F;
	/* height: 200vh; */
	cursor: url(assets/cur/down.png), default;
}

.nav_bar {
	z-index: 100;
	position: fixed;
	background: rgba(0, 0, 0, 0);
	height: 10vh;
	width: 100%;
	margin-top: 0px;
	margin-left: 0px;
	top: 0px;
	left: 0px;
	user-select: none;
}

.nav_table {
	width: 500px;
	float: right;
	text-align: center;
	bottom: 0px;
  	padding-top: 3vh;
}

.nav_bar a:link {
	color: #0F0F0F;
	text-decoration: none;
}
.nav_bar a:visited {
	text-decoration: none;
	color: #0F0F0F;
}
.nav_bar a:hover {
	text-decoration: none;
	color: #d91e29;
	/* text-shadow:
	0 0 20px #d91e29,
	0 0 10px #d91e29; */

}
.nav_bar a:active {
	text-decoration: none;
	color: #d91e29;
}

.nav_element {
	font-family: Technology;
	font-size: 28px;
}

.logo {
	display: flex;
	flex-wrap: wrap;
	margin:0;
	padding: 0;
	color: #0F0F0F;
    font-family: Peg_holes;
	font-weight: 500;
    font-size: 30px;
    width: 200px;
    position: absolute;
    left: 10px;
    top: 10px;
	user-select: none;
}

.logo:focus{
	text-decoration: underline;
}

.logo:hover{
	cursor: pointer;
}

.logo span:nth-child(1){
	color: #d91e29;
}

.logo:hover span:nth-child(1){
	/* text-shadow:
	0 0 10px #d91e29,
	0 0 20px #d91e29; */
}

.logo a:link {
	text-decoration: none;
}
.logo a:visited {
	text-decoration: none;
}
.logo a:hover {
	text-decoration: none;
	/* color: green; */
}
.logo a:active {
	text-decoration: none;
}


.dot_bg {
  font-family: Peg_holes;
  font-size: 50px;
  position: absolute;
}

.limitBox{
	width: 80%;
}

/* details */
.profileBG {
	background-position: 50% 50%;
    top: 0;
	left: -35%;
	bottom: 0;
	right: 0;
    height: 200vh;
    background: url(assets/pics/backpicBlur.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    filter: blur(0px);
}


.pageTitle{
    /* z-index: 998; */
    font-family: Technology;
    font-size: 200px;
    font-weight: 500;
    color: #f0f0f0;
    margin-bottom: 0px;
    margin-top: 30px;
    margin-left: 20px;
    /* width:1200px; */
    left:0px;
}

.pageTitle span:nth-child(1){
	color: #d91e29;
}

.pageTitle:hover span:nth-child(1){
	text-shadow:
	0 0 10px #d91e29,
	0 0 20px #d91e29;
}

.catagoryTitle{
    font-family: Technology;
    font-size: 50pt;
    /* font-weight: 800; */
    color: #ffffff;
    margin: 30px;
    top: 1000px;
    width: 100%;
    left:0px;
}

.pics{
    width: 23vw;
	min-width: 250px;
    height: auto;
    margin: 30px;
    margin-left: 60px;
    border-style: solid;
    border-width: calc(23vw/100);
    /* transform: rotateZ(45deg); */
}

.pano{
    /* width: auto;
    height: 250px; */
    max-width: 90vw;
    max-height: 250px;
    margin: 30px;
    margin-left: 60px;
    /* margin-right: 1000px; */
    border-style: solid;
    border-width: 5px;
}

.picLink{
    font-family: Technology;
}

.bgm{
    margin: 30px;
    margin-right: 50%;
    color:#ffffff;
    font-family: Technology;
    font-size: 20pt;
    font-weight: bolder;
}


.player{
    margin: 30px;
    margin-top: 0px;
}



/* projects */
.shell{
	width:100%;
	/* height: 6000px; */
	position: relative;
	padding: 80px 0;
	transition: 0.3s ease 0s;
	background-attachment: fixed;
	background-size: cover;
	background-color: #000000;
	/* background-image: url(assets/pics/backpicBlur.jpg); */
	/* filter: blur(4px); */
}

.shell::before{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	content:"";
}

.header{
	margin-top: 25vh;
	width: 100%;
	text-align: center;
	margin-bottom: 80px;
	position: relative;
}

.title{
	color: #f0f0f0;
	font-size: 200px;
	font-weight: 500;
	margin: 0;
}

.title span:first-child{
	color: #d91e29;
}

.title:hover span:first-child{

	text-shadow:
	0 0 10px #d91e29,
	0 0 20px #d91e29;
}

.timeline{
	display: flex;
	margin: 0 auto;
	flex-wrap: wrap;
	flex-direction: column;
	max-width: 700px;
	position: relative;
}

.contentTitle{
	font-family: Technology;
	font-weight: 500;
	font-size: 50px;
	margin: -50px 0 0 0;
	transition: 0.4s;
	padding: 0 10px;
	box-sizing: border-box;
	color:#F0F0F0;
}

.description{
	margin: 0;
	font-size: 20px;
	box-sizing: border-box;
	color: rgba(235,235,235,1);
	line-height: 25px;
	font-family: 'Smooch Sans', sans-serif;
	/* opacity: 0; */
}

.timeline:before{
	position: absolute;
	left: 50%;
	width: 2px;
	height: 100%;
	margin-left: -1px;
	content:"";
	background: rgba(235,235,235,1);
	/* opacity: 0; */
}

.item{
	padding: 100px 0;
	opacity: 0.3;
	filter: blur(2px);
	transition: 0.5s;
	box-sizing: border-box;
	width: calc(50% - 20px);
	display: flex;
	position: relative;
	transform: translateY(-80px);
}

.item:before{
	content:attr(data-text);
	letter-spacing: 3px;
	width: 100%;
	position: absolute;
	color: #d91e29;
	text-shadow:
	0 0 10px #d91e29,
	0 0 20px #d91e29;
	border-left: 2px solid #d91e29;
	top: 70%;
	margin-top: -5px;
	padding-left: 15px;
	opacity: 0;
	right: calc(-100% - 56px);
	font-size: 30px;
	font-family: Technology;
	letter-spacing: 5px;
}

.item:nth-child(even){
	align-self: flex-end;
}

.item:nth-child(even):before{
	right: auto;
	text-align: right;
	left: calc(-100% - 56px);
	padding-left: 0;
	border-left: none;
	border-right: 2px solid #d91e29;
	padding-right: 15px;
	
}

.item--active{
	opacity: 1;
	transform: translateY(0);
	filter: blur(0px);
}

.item--active:before{
	top: 50%;
	transition: 0.3s all 0.2s;
	opacity: 1;
	
}

.item--active .contentTitle{
	margin: 0 0 0 -10px;
	
}

.img{
	max-width: 100%;
	box-shadow: 0 10px 15px rgba(0,0,0,1);
}

.subtitle{
	color: rgba(235,235,235,1);
	font-size: 16px;
	letter-spacing: 5px;
	margin: 10px 0 0 0;
	font-weight: 500;
	/* opacity: 0; */
}

.footer{
	padding: 95px 0;
	text-align: center;
}

.footer a {
	color: #999999;
	display: inline-block;
}


#slogan{
	z-index: 99;
	background-color: transparent;
	position: relative;
	width: 40vw;
	padding-top: 20vh;
	margin-left: 10px;
	color:#F0F0F0
}

#slogan span:last-child{
	color:#d91e29;
	/* text-shadow:0 0 10px #d91e29,
	0 0 20px #d91e29,
	0 0 40px #d91e29,
	0 0 80px #d91e29; */
}

#slogan:hover span:last-child{
	color: #d91e29;
	text-shadow:0 0 10px #d91e29,
	0 0 20px #d91e29;
}

#mainText{
	z-index: 99;
	position: absolute;
	top: 135vh;
	width: auto;
	color: #F0F0F0;
	/* left: 50%;
	transform: translateX(-50%); */
	padding: 30px;
	/* background-color: rgba(0, 0, 0, 0.5); */
	/* border-radius: 10px; */
}

#text_bg {
	background-image: url(assets/pics/backpic.jpg);
	background-size: cover;
	background-position: 60% 20%;
	/* width: 100%; */
	/* filter: brightness(50%); */
	/* background: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0)); */
	height: 200vh;
	font-family: Technology;
	font-weight: 500;
	font-size: 22vw;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position: relative;
	text-align: left;
	overflow: hidden;
	user-select: none;
}

#text_bg::before{
	content: '';
	background-size: cover;
	background-image: url(assets/pics/backpic.jpg);
	background-position: 60% 20%;
	position: absolute;
	/* width: 100vw; */
	/* filter: blur(10px); */
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -99;
}

#linear_bg{
	z-index: 0;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
}

/* #linear_bg::before{
    z-index: 100;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
} */

#logo_text1{
	width: 33px;
	color: #d91e29;
}
#logo_text2{
	width: 100px;
}

#main{
	user-select: none;
    display: flex;
    /* background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0)); */
    flex-wrap: wrap;
    align-items: flex-start;
    min-height: 100vh;
    z-index: 1;
    position: absolute;
    left: 0;
    width: 95%;
    /* padding-right: 25%; */

}

	#main a:link {
        color: #FFFFFF;
        text-decoration: none;
    }
    #main a:visited {
        text-decoration: none;
        color: #FFFFFF;
    }
    #main a:hover {
        text-decoration: underline;
		text-decoration: none;
		color: #d91e29;
		text-shadow:
		0 0 20px #d91e29,
		0 0 15px #d91e29;
    }
    #main a:active {
        text-decoration: none;
        color: #FFFFFF;
    }

#projectNav{
	background: #F0F0F0;
}