@font-face {
	font-family:Cirquee;
	src:url("cirquee-font/Cirquee-EaJ78.ttf");
	/* font-weight: normal;
	font-style: normal; */
}

@font-face {
	font-family:DigiGroteskLT;
	src:url("DigiGroteskLT/DigiGroteskLT-BoldCondensed.ttf");
	/* font-weight: normal;
	font-style: normal; */
}

@font-face {
	font-family:Electro_holic;
	src:url("electro-holic-font/ElectroHolic-z8z8G.ttf");
	/* font-weight: normal;
	font-style: normal; */
}

@font-face {
	font-family:Exwayer;
	src:url("exwayer-font/Exwayer-X3eqa.ttf");
	/* font-weight: normal;
	font-style: normal; */
}

@font-face {
	font-family:Major_Mono_Display;
	src:url("Major_Mono_Display/MajorMonoDisplay-Regular.ttf");
	/* font-weight: normal;
	font-style: normal; */
}

@font-face {
	font-family:Peg_holes;
	src:url("peg_holes/peg-holes.ttf");
	/* font-weight: normal;
	font-style: normal; */
}

@font-face {
	font-family:Radioland;
	src:url("radioland/RADIOLAND.TTF");
	/* font-weight: normal;
	font-style: normal; */
}

@font-face {
	font-family:Repetition_scrolling;
	src:url("repetition-scrolling/repet___.ttf");
	/* font-weight: normal;
	font-style: normal; */
}

@font-face {
	font-family:Technology;
	src:url("technology_2/Technology.ttf");
	/* font-weight: normal;
	font-style: normal; */
}

@font-face {
	font-family:Bronova;
	src:url("bronova/Bronova_Regular.ttf");
	/* font-weight: normal;
	font-style: normal; */
}

@font-face {
	font-family:ROboto;
	src:url("Roboto/roboto.thin.ttf");
	/* font-weight: normal;
	font-style: normal; */
}